aiohttp==3.7.2
async-timeout==3.0.1
attrs==20.3.0
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
idna==2.10
ipcalc==1.99.0
multidict==5.0.2
pycparser==2.20
pyOpenSSL==19.1.0
PyYAML==5.4
six==1.15.0
slackclient==2.9.3
typing-extensions==3.7.4.3
yarl==1.6.2
